session.gc_maxlifetime = {{ gc_maxlifetime }}
error_reporting=E_ALL & ~E_DEPRECATED
display_errors=0

upload_max_filesize={{ upload_max_filesize }}
post_max_size={{ upload_max_filesize }}
memory_limit={{ memory_limit }}
max_execution_time={{ max_execution }}
max_input_time={{ max_input }}